{% load i18n wagtailimages_tags wagtailcore_tags %}
<div class="flex flex-col gap-8 {% if value.alignment == 'image-right' %}md:flex-row-reverse{% else %}md:flex-row{% endif %} items-center">
    <div class="w-full md:w-1/2 overflow-hidden rounded-lg">
        {% image value.image fill-800x600 as img %}
        <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ value.image.title }}" class="h-full w-full object-cover" loading="lazy">
    </div>
    <div class="w-full md:w-1/2">
        <div class="prose prose-neutral max-w-none in-data-[bg=dark]:prose-invert in-data-[bg=primary]:prose-invert">
            {{ value.content|richtext }}
        </div>
        {% if value.link_text %}
            <div class="mt-6">
                {% include "components/button.html" with text=value.link_text link_page=value.link_page link_url=value.link_url style="primary" %}
            </div>
        {% endif %}
    </div>
</div>
